html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.losses h2 {
  text-align: center;
}

.item {
  margin: 20px;
  width: 150px;
  
}

.name, .num {
  display: block;
  text-align: center;
}

.name {
  margin-bottom: 10px;
}

.icon {
  display: flex;
  justify-content: center;
}